.navbar {
  height: 5rem;
  background-color: white;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Plus Jakarta Sans", serif !important;
}

.container {
  flex: 1;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

.f-info-link a {
  text-decoration: none;
  color: #000000;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-link,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.f-info {
  text-align: center;
  display: flex;
  height: 6rem;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-tog {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400;
}

.listing-link {
  text-decoration: none;
}

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

.show-img {
  height: 30vh;
}

.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}

#map {
  height: 400px;
  width: 80vh;
}

.btn-search {
  width: 15vh;
  color: #fe424d !important;
  border: 1px groove rgb(203, 203, 203) !important;
  border-radius: 25px !important;
  padding: 0 1rem !important;
}
.inp-search {
  border-radius: 25px !important;
  padding: 0.3rem 1rem !important;
}
.btn-search:hover {
  background-color: #fe424d !important;
  color: white !important;
}

.btn-search i {
  display: inline !important;
  margin-right: 0.3rem;
}

#filters {
  display: flex;
  flex-wrap: nowrap; 
  margin-bottom: 2rem;
}
.filters-container{
  display: flex;
  flex-wrap: nowrap; 
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 80vw;
  gap: 1.5rem; 
  padding: 0 1rem;
}

.filter {
  text-align: center;
  margin-top: 2rem;
  margin-right: 1.5rem;
  cursor: pointer;
  opacity: 70%;
}
.filter:hover {
  opacity: 100%;
  transform: scale(1.05);
}

.filters p {
  width: 100%;
  font-size: 0.8rem;
}
.tax-toggle {
  margin-left: auto;
  margin-right: 1rem;
  margin-top: 2rem;
  border: 0.5px groove #c3c3c3;
  padding: 0.6rem 0.9rem;
  border-radius: 1.5rem;
  height: 3rem;
  position: relative;
  right: 0vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  font-size: 1rem;
}
.tax-toggle:hover {
  transform: scale(1.05); 
}
@media only screen and (max-width: 936px) {
  #filters {
    max-width: 90vw; 
    gap: 1rem; 
  }
}
@media only screen and (max-width: 936px) {
  .tax-toggle {
    display: none;
  }
}
.tax-info {
  display: none;
}
::-webkit-scrollbar {
  height: 3px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.navbar-collapse{
  background-color: white !important;
}